/* Style global du badge-pill */
.badge-pill {
    display: block;
    font-size: 0.9rem;
    background-color: #999;
    font-weight: var(--bold);
    color: #fff;
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    margin-inline-start: 0.5rem;
    border-radius: 15px;
}

/* Variante couleur cyan */
.badge-cyan {
    background-color: var(--clr-primary-desat-dark-cyan);
}

/* Variante couleur cyan version dark */
.badge-dark {
    background-color: var(--clr-neutral-very-dark-grayish-cyan);
}
